# /*******************************************************************************
#  Copyright (C) 2021 Xilinx, Inc
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
# *******************************************************************************/

*.log
*.jou
*.str
driver/xrt/src/m2m
driver/xrt/build
.vscode


integrations/pytorch_ddp/test/accl_log
integrations/pytorch_ddp/test/cifar_profiler_log
integrations/pytorch_ddp/test/cifar10_data
integrations/pytorch_ddp/test/data
integrations/pytorch_ddp/test/GPU_log

integrations/pytorch_ddp/test/plotting/*.png
integrations/pytorch_ddp/test/plotting/*.json
integrations/pytorch_ddp/test/evaluation.md
integrations/pytorch_ddp/test/plotting/plotOld.py
integrations/pytorch_ddp/test/plotting/plot_composition.py
integrations/pytorch_ddp/test/plotting/plot_small.py
integrations/pytorch_ddp/test/plotting/batchPlots
integrations/pytorch_ddp/test/plotting/plotsCuda


integrations/pytorch_ddp/envACCL
integrations/pytorch_ddp/envCuda
integrations/pytorch_ddp/envGPU
integrations/pytorch_ddp/venvTest

integrations/pytorch_ddp/installTorch.py
integrations/pytorch_ddp/MyProcessGroupMPI.cpp

integrations/build

driver/utils/accl_network_utils/cmake_install.cmake
driver/utils/accl_network_utils/CMakeCache.txt
driver/utils/accl_network_utils/CMakeDoxyfile.in
driver/utils/accl_network_utils/CMakeDoxygenDefaults.cmake
driver/utils/accl_network_utils/Makefile
driver/utils/accl_network_utils/xrt
driver/utils/accl_network_utils/vnx
driver/utils/accl_network_utils/CMakeFiles